main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;  
}


main a {
    text-decoration: none;
    color: blue;
}

#img-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    
  }
  
  img {
    max-width: 100%;
    height: auto;

  }

  #img-caption {
    font-size: 30px;
  }

  #tribute-info {
    font-size: 20px;
    display: flex;
    flex-direction: column; 
  }
